<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Resume Maker</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link href="../static/css/style.css" rel="stylesheet">
    <script src="../static/js/javascript.js"></script>

</head>
<body>
<header class="h_color" id="head">
    <div class="text-left">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="logo">
                        <h2>RESUME MAKER</h2>
                        <p>Attractive resumes Download and Use Now!</p>
                    </div>
                    <div class="nav_button_right">
                        <a class="btn btn-primary" href="#popup1">Add your Data</a>
                        <input type="button" onclick="printDiv()" class="btn btn-warning" value="Print Resume">
                        <a class="btn btn-info" href="resume_template">More Resume Templates</a>
                        <a href="/consultation/" class="btn btn-success">Consulter la base de données</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<section id="resume_1">
    <div class="container">
        <div class="resume_1">
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <h1 id="uname">Thibaut Grosheny</h1>
                        <p style="text-align: justify" id="uabout">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<a href="/contact" class="btn btn-primary" style="margin: 20px; position: absolute; top: 0; right: 0;">Demande de contact</a>

<div id="popup1" class="overlay">
    <div class="popup">
        <div class="container">
            <h4>RESUME TEMPLATES</h4>
            <a class="close" href="#">&times;</a>
            <div class="row">
                <div class="col-md-12">
                    <p>Choose your own style to make resume</p>
                </div>
                <div class="col-md-12">
                    <h5>PERSONAL INFORMATION</h5>
                </div>
            </div>
            <form class="needs-validation" novalidate>
                <!-- Your form content here -->
            </form>
        </div>
    </div>
</div>

<script src="../static/js/jquery-2.1.3.js"></script>
<script src="../static/js/my.js"></script>
</body>
</html>
